*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 980px;
    margin: 0 auto;
    font-size: 1.125rem;
    color: #707070;
}
#Content{
    border: 2px solid red;
    display: flex;
    font-family: sans-serif;
    padding: 5px;
    margin-top: 25px;
    height: 680px;
}   
h1{
    font-size: 3rem;
    text-align: center;
    font-family: sans-serif;
    color: #312614;
    padding: 20px;
}
.heading{
    color: #B7832F;
}
.para4, .para5{
    background-color: #312614;
    color: #fff;
}
p
{margin-top: 15px;
   
}
